@keyframes shadow-pulse {
   0% {
      transform: scaleX(1.4) scaleY(1.6);
   }

   100% {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($nav-black, .2);
   }
}

@keyframes rotate360 {
   from {
      -webkit-transform: rotate(0deg);
   }

   to {
      -webkit-transform: rotate(359deg);
   }
}


@keyframes moveInBottom {
   0% {
       opacity: 0;
       transform: translateY(3rem);
   }

   100% {
       opacity: 1;
       transform: translate(0);
   }
}