//basic color
$color-white: #fff;
$color-black: #000;


// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;

//Navigation colors

$nav-white: #fff;
$nav-black: #000;

$nav-primary: #55c57a;
$nav-primary-light: #7ed56f;
$nav-primary-dark: #28b485;

$nav-grey-dark: #333;

// RESPONSIVE BREAKPOINTS
$largest: 75em;   // 1200px
$large: 62.5em;   // 1000px
$medium: 49.9375em;    // 799px;
$small: 37.5em;    // 600px;



// FONT VARIABLES
$font-primary: "Lato",
sans-serif;
$default-font-size: 1.6rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px ;

    @media only screen and (max-width: $medium) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    //color: $color-grey-dark-1;
}

.container {
    display: grid;

    grid-template-rows: 100vh repeat(3, min-content);
    grid-template-columns: auto;

}

.center {
    text-align: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 100%;
}