.btn {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    height: 3rem;
    align-self: center;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 2px solid black;
    transition: all .2s;
    font-size: $default-font-size;
    display: block;

    border: none;
    cursor: pointer;

    

    &:hover,
    &:focus {
        transform: translateY(-3px);
        background-color: #E31B6D;
        

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
}

